.review-item{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width:571px;
    display: flex;
}
img{
    width:77px;
}
p{
    margin: 0;
}
.review-item-details-container{
    display: flex;
    justify-content: space-between;
    width:100%;
}